body{
    background-color:gainsboro;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin:0;
    display:grid;
    align-content: center;
    min-height: 100vh;
}

h1 {
    
    color:black;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

h2 {
    text-align: center;
}

p {
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
    font-weight:500;
}

ul{
    margin: 0 auto;
    padding: 0;
}

a{ 
    color:seagreen;
}